<template name="commentItem">
	<li>
		<h4>
			<span class="author">{{author}}</span>
			<span class="date">on {{submittedText}}</span>
			{{#if ownComment}}
				<a href="" class="edit">Edit</a>
				<a href="" class="remove">Remove</a>
			{{/if}}
		</h4>
		{{#if editingOrNot}}
			<form>
				<input class="editBox" value="{{body}}">
			    <button type="submit" class="btn btn-primary">
			    	Save Comment
			    </button>
  			</form>
		{{else}}
			<p class="comment">{{body}}</p>
		{{/if}}
	</li>
</template>